<div class="w3-container w3-padding-32 w3-display-center my-back">
  <div class="w3-col l11 w3-center" >

    <% @animals.each do |a| %>
      <div class="w3-btn my-item">
        <%= link_to(animals_details_path id: a.id)  do %>
            <img class="animal-thumb" src="/dog.jpg"></img>
            <div class="w3-container w3-padding my-nick"><%= a.nick %></div>
        <% end %>
      </div>

    <% end %>


  </div>

    <div style="margin-top:10px;">

        <%= link_to 'CADASTRAR', animals_new_path , class:'w3-button w3-mobile w3-green  w3-block' %>

    </div>
</div>
