<div class="w3-container w3-padding-32 w3-display-center my-back">
  <div class=" w3-center" >

    <% @animals.each do |a| %>
      <div class=" w3-mobile w3-btn w3-round w3-animate-opacity my-item">
        <img  src="http://www.ferramentasblog.com/wordpress/wp-content/uploads/2011/01/gato.jpg" style="max-width:250px;max-height:200px;"></img>
        <div class="w3-container  w3-padding my-nick"><%= a.nick %></div>
      </div>
    <% end %>


  </div>

    <div style="margin-top:10px;">

        <%= link_to 'CADASTRAR', pages_new_path , class:'w3-button w3-mobile w3-green  w3-block' %>
      
    </div>
</div>
